* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Lato", sans-serif;
    font-family: "Work Sans", sans-serif;
}
header {
    background-color: #fff4e7;
    padding: 50px 230px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style-type: none;
}
ul a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #d9d9d9;
}
h3 {
    font-size: 2.8rem;
    font-weight: bold;
}
.banner-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 30px;
}
.para {
    font-size: 16px;
    font-weight: 400;
}
.banner-content .para {
    margin-bottom: 30px;
}
.banner img {
    width: 100%;
}
.banner-content {
    max-width: 700px;
    text-align: center;
    margin: auto;
}
.btn {
    background-color: #ff900e;
    padding: 20px 35px;
    font-size: 1.25rem;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.banner div {
    margin-top: 40px;
}

.feature {
    padding: 80px 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.feature-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.feature-image img {
    width: 16rem;
}
.feature-description p {
    margin: 20px 0px;
}

.love {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.love-description div {
    margin: 20px 10px;
    box-shadow: 5px 5px 15px 2px gray;
    border-radius: 10px;
    padding: 15px;
}
.love-title {
    margin-bottom: 20px;
}
.love-image {
    width: 40%;
    position: relative;
}
.love-image div {
    position: absolute;
    bottom: 5px;
    padding: 20px 30px;
    background-color: #ff900e;
}
.love-description {
    width: 30%;
}
.love-image img {
    width: 100%;
    height: 100%;
}
.love-image span {
    color: white;
    font-size: 60px;
    font-weight: bold;
}
.facts-section {
    padding: 50px 200px;
}
.fact-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.facts-description {
    max-width: 540px;
}
.facts-container {
    display: flex;
    padding: 100px 50px 20px;
    justify-content: space-between;
    align-items: center;
}
.facts {
    height: 200px;
    width: 200px;
    border: 2px solid #ff900e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.sponsor {
    padding: 50px 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.sponsor-description {
    max-width: 540px;
}
.sponsor-title {
    margin-bottom: 20px;
}
.sponsor-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer {
    padding: 50px 150px;
}
footer div {
    background-color: #fff4e7;
    padding: 40px;
}
footer p {
    text-align: center;
}
/* responsivness */

/* responssive for small device */
@media screen and (max-width: 576px) {
    header {
        padding: 10px;
    }
    nav {
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }
    .banner-content {
        max-width: 500px;
    }
    .banner-title {
        font-size: 3rem;
    }

    .feature {
        flex-direction: column;
        padding: 20px 40px;
    }
    .feature-image {
        grid-template-columns: 1fr;
    }
    .love {
        flex-direction: column;
        padding: 10px;
    }
    .love-image,
    .love-description {
        width: 100%;
    }
    .love-image img {
        width: 95vw;
    }
    .love-image span {
        font-size: 40px;
    }
    .facts-section, .sponsor {
        padding: 20px;
    }
    .facts-container {
        flex-direction: column;
        padding: 20px;
    }
    .facts {
        margin-top: 20px;
    }
    .sponsor-description {
        max-width: 340px;
    }
    .sponsor-container {
        flex-direction: column;
        gap: 40px;
    }
    footer {
        padding: 20px;
    }
}

/* responssive for medium device */

@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }
    nav {
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
        margin-top: 10px;
    }
    .banner-title {
        font-size: 3rem;
    }
    h3 {
        font-size: 2rem;
    }
    .feature {
        flex-direction: column;
        padding: 50px 100px;
    }
    .love {
        flex-direction: column;
        padding: 10px;
    }
    /* .love-image {
        width: 100vw;
    } */
    .love-image img {
        margin: auto;
    }
    .love-image,
    .love-description {
        width: 100%;
    }
    .love-image img {
        width: 98vw;
    }
    .love-image span {
        font-size: 40px;
    }
    .facts-section {
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .facts-container {
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 40px;
    }
    .facts {
        margin-top: 20px;
    }
    .sponsor {
        padding: 50px;
    }
    .sponsor-container {
        flex-direction: column;
        gap: 50px;
    }
}
